openapi: 3.0.0
info:
  description: SSO REST API for Cifra app
  title: Cifra SSO REST API
  version: 0.0.1
servers:
- url: /
paths:
  /test:
    post:
      description: Test
      responses:
        "201":
          description: successfully
      tags:
      - Test
components:
  schemas:
    Point:
      properties:
        lon:
          description: Longitude
          format: double
          type: number
        lat:
          description: Latitude
          format: double
          type: number
      required:
      - lat
      - lon
      type: object
    RelationshipLinks:
      properties:
        self:
          description: A link to the related resource
          format: uri
          type: string
        related:
          description: A link to the related resource
          format: uri
          type: string
      required:
      - related
      - self
      type: object
    RelationshipDataObject:
      properties:
        type:
          description: The type of the related resource
          type: string
        id:
          description: The ID of the related resource
          type: string
      required:
      - id
      - type
      type: object
    PaginationData:
      properties:
        page_number:
          description: The current page number.
          example: 1
          format: int64
          type: integer
        page_size:
          description: The number of items per page.
          example: 10
          format: int64
          type: integer
        total_items:
          description: The total number of items available.
          example: 100
          format: int64
          type: integer
      required:
      - page_number
      - page_size
      - total_items
      type: object
    Class:
      properties:
        data:
          $ref: '#/components/schemas/Class_data'
      required:
      - data
      type: object
    ClassesCollection:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Class/properties/data'
          type: array
        links:
          $ref: '#/components/schemas/PaginationData'
      required:
      - data
      - links
      type: object
    ClassRelationships:
      properties:
        parent:
          $ref: '#/components/schemas/ClassRelationships_parent'
      required:
      - parent
      type: object
    ClassLocale:
      properties:
        data:
          $ref: '#/components/schemas/ClassLocale_data'
      required:
      - data
      type: object
    ClassLocalesCollection:
      properties:
        data:
          items:
            $ref: '#/components/schemas/RelationshipDataObject'
          type: array
        included:
          items:
            $ref: '#/components/schemas/ClassLocale/properties/data'
          type: array
      required:
      - data
      - included
      type: object
    CreateClass:
      properties:
        data:
          $ref: '#/components/schemas/CreateClass_data'
      required:
      - data
      type: object
    UpdateClass:
      properties:
        data:
          $ref: '#/components/schemas/UpdateClass_data'
      required:
      - data
      type: object
    DeactivateClass:
      properties:
        data:
          $ref: '#/components/schemas/DeactivateClass_data'
      required:
      - data
      type: object
    SetLocalesForClass:
      properties:
        data:
          $ref: '#/components/schemas/SetLocalesForClass_data'
      required:
      - data
      type: object
    Place:
      properties:
        data:
          $ref: '#/components/schemas/Place_data'
        included:
          description: Array of related resources
          items:
            $ref: '#/components/schemas/Timetable/properties/data'
          type: array
      required:
      - data
      - included
      type: object
    PlacesCollection:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Place/properties/data'
          type: array
        included:
          items:
            $ref: '#/components/schemas/Timetable/properties/data'
          type: array
        links:
          $ref: '#/components/schemas/PaginationData'
      required:
      - data
      - included
      - links
      type: object
    PlaceRelationships:
      properties:
        class:
          $ref: '#/components/schemas/ClassRelationships_parent'
        city:
          $ref: '#/components/schemas/ClassRelationships_parent'
        distributor:
          $ref: '#/components/schemas/ClassRelationships_parent'
      required:
      - city
      - class
      type: object
    CreatePlace:
      properties:
        data:
          $ref: '#/components/schemas/CreatePlace_data'
      required:
      - data
      type: object
    UpdatePlace:
      properties:
        data:
          $ref: '#/components/schemas/UpdatePlace_data'
      required:
      - data
      type: object
    PlaceLocale:
      properties:
        data:
          $ref: '#/components/schemas/PlaceLocale_data'
      required:
      - data
      type: object
    PlaceLocalesCollection:
      properties:
        data:
          items:
            $ref: '#/components/schemas/RelationshipDataObject'
          type: array
        included:
          items:
            $ref: '#/components/schemas/PlaceLocale/properties/data'
          type: array
      required:
      - data
      - included
      type: object
    SetLocalesForPlace:
      properties:
        data:
          $ref: '#/components/schemas/SetLocalesForPlace_data'
      required:
      - data
      type: object
    Timetable:
      properties:
        data:
          $ref: '#/components/schemas/Timetable_data'
      required:
      - data
      type: object
    TimetableInterval:
      properties:
        from:
          $ref: '#/components/schemas/TimeMoment'
        to:
          $ref: '#/components/schemas/TimeMoment'
      required:
      - from
      - to
      type: object
    TimeMoment:
      properties:
        weekday:
          description: Day of the week.
          enum:
          - monday
          - tuesday
          - wednesday
          - thursday
          - friday
          - saturday
          - sunday
          type: string
        time:
          description: Time of the day in 24-hour format (HH:MM).
          pattern: "^(?:[01]\\d|2[0-3]):[0-5]\\d$"
          type: string
      required:
      - time
      - weekday
      type: object
    SetPlaceTimetable:
      properties:
        data:
          $ref: '#/components/schemas/Timetable_data'
      required:
      - data
      type: object
    Class_data_attributes:
      properties:
        status:
          description: class status
          type: string
        icon:
          description: class icon
          format: uri
          type: string
        name:
          default: New Class
          description: class name
          type: string
        created_at:
          description: class creation date
          format: date-time
          type: string
        updated_at:
          description: class last update date
          format: date-time
          type: string
      required:
      - created_at
      - icon
      - name
      - status
      - updated_at
      type: object
    Class_data:
      properties:
        id:
          description: class code
          format: string
          type: string
        type:
          enum:
          - place_class
          type: string
        attributes:
          $ref: '#/components/schemas/Class_data_attributes'
        relationships:
          $ref: '#/components/schemas/ClassRelationships'
      required:
      - attributes
      - id
      - type
      type: object
    ClassRelationships_parent:
      properties:
        links:
          $ref: '#/components/schemas/RelationshipLinks'
        data:
          $ref: '#/components/schemas/RelationshipDataObject'
      type: object
    ClassLocale_data_attributes:
      properties:
        name:
          description: Class name
          type: string
      required:
      - name
      type: object
    ClassLocale_data:
      properties:
        id:
          description: class_code + locale
          example: yoga:en
          format: string
          type: string
        type:
          enum:
          - class_locale
          type: string
        attributes:
          $ref: '#/components/schemas/ClassLocale_data_attributes'
      required:
      - attributes
      - id
      - type
      type: object
    CreateClass_data_attributes:
      properties:
        icon:
          description: class icon
          format: uri
          type: string
        name:
          default: New Class
          description: class name at english
          type: string
        parent:
          description: parent class code
          type: string
      required:
      - icon
      - name
      type: object
    CreateClass_data:
      properties:
        id:
          description: class code
          type: string
        type:
          description: Resource type
          enum:
          - classes
          type: string
        attributes:
          $ref: '#/components/schemas/CreateClass_data_attributes'
      required:
      - attributes
      - id
      - type
      type: object
    UpdateClass_data_attributes:
      properties:
        icon:
          description: class icon
          format: uri
          type: string
        name:
          default: New Class
          description: class name at english
          type: string
        parent:
          description: parent class code
          type: string
      type: object
    UpdateClass_data:
      properties:
        id:
          description: class code
          type: string
        type:
          description: Resource type
          enum:
          - classes
          type: string
        attributes:
          $ref: '#/components/schemas/UpdateClass_data_attributes'
      required:
      - attributes
      - id
      - type
      type: object
    DeactivateClass_data_attributes:
      properties:
        replaced_class_code:
          description: The class code that has replaced the deactivated class
          example: advanced-yoga
          type: string
      required:
      - replaced_class_code
      type: object
    DeactivateClass_data:
      properties:
        id:
          description: class_code + locale
          example: yoga:en
          format: string
          type: string
        type:
          enum:
          - place_class
          type: string
        attributes:
          $ref: '#/components/schemas/DeactivateClass_data_attributes'
      required:
      - attributes
      - id
      - type
      type: object
    SetLocalesForClass_data_attributes_locales_inner:
      properties:
        locale:
          description: Locale code
          type: string
        name:
          description: Locale name
          type: string
      required:
      - locale
      - name
      type: object
    SetLocalesForClass_data_attributes:
      properties:
        locales:
          items:
            $ref: '#/components/schemas/SetLocalesForClass_data_attributes_locales_inner'
          type: array
      required:
      - locales
      type: object
    SetLocalesForClass_data:
      properties:
        id:
          description: class_code
          format: string
          type: string
        type:
          enum:
          - class_code_locale
          type: string
        attributes:
          $ref: '#/components/schemas/SetLocalesForClass_data_attributes'
      required:
      - attributes
      - id
      - type
      type: object
    Place_data_attributes:
      properties:
        city_id:
          description: city id
          format: uuid
          type: string
        distributor_id:
          description: distributor id
          format: uuid
          type: string
        class:
          description: place class
          type: string
        status:
          description: place status
          type: string
        verified:
          description: is place verified
          type: boolean
        point:
          $ref: '#/components/schemas/Point'
        locale:
          description: place locale
          type: string
        name:
          description: place name
          type: string
        address:
          description: place address
          type: string
        description:
          description: place description
          type: string
        website:
          description: place website
          format: uri
          type: string
        phone:
          description: place phone number
          type: string
        created_at:
          description: place creation date
          format: date-time
          type: string
        updated_at:
          description: place last update date
          format: date-time
          type: string
      required:
      - address
      - city_id
      - class
      - created_at
      - description
      - locale
      - name
      - point
      - status
      - updated_at
      - verified
      type: object
    Place_data:
      properties:
        id:
          description: place id
          format: uuid
          type: string
        type:
          enum:
          - place
          type: string
        attributes:
          $ref: '#/components/schemas/Place_data_attributes'
        relationships:
          $ref: '#/components/schemas/PlaceRelationships'
      required:
      - attributes
      - id
      - relationships
      - type
      type: object
    CreatePlace_data_attributes:
      properties:
        city_id:
          description: city id
          format: uuid
          type: string
        distributor_id:
          description: distributor id
          format: uuid
          type: string
        class:
          description: place class
          type: string
        point:
          $ref: '#/components/schemas/Point'
        locale:
          description: locale
          type: string
        name:
          description: place name
          type: string
        description:
          description: place description
          type: string
        website:
          description: place website
          format: uri
          type: string
        phone:
          description: place phone number
          type: string
      required:
      - city_id
      - class
      - description
      - locale
      - name
      - point
      type: object
    CreatePlace_data:
      properties:
        id:
          description: place id
          format: uuid
          type: string
        type:
          enum:
          - place
          type: string
        attributes:
          $ref: '#/components/schemas/CreatePlace_data_attributes'
      required:
      - attributes
      - id
      - type
      type: object
    UpdatePlace_data_attributes:
      properties:
        class:
          description: place class
          type: string
        status:
          description: place status
          type: string
        website:
          description: place website
          format: uri
          type: string
        phone:
          description: place phone number
          type: string
      type: object
    UpdatePlace_data:
      properties:
        id:
          description: place id
          format: uuid
          type: string
        type:
          enum:
          - place
          type: string
        attributes:
          $ref: '#/components/schemas/UpdatePlace_data_attributes'
      required:
      - attributes
      - id
      - type
      type: object
    PlaceLocale_data_attributes:
      properties:
        name:
          description: Locale name
          type: string
        description:
          description: Locale description
          type: string
      required:
      - description
      - name
      type: object
    PlaceLocale_data:
      properties:
        id:
          description: place_id + locale
          format: string
          pattern: "^[0-9a-fA-F-]{36}:[a-z]{2}(?:-[A-Z]{2})?$"
          type: string
        type:
          enum:
          - place_locale
          type: string
        attributes:
          $ref: '#/components/schemas/PlaceLocale_data_attributes'
      required:
      - attributes
      - id
      - type
      type: object
    SetLocalesForPlace_data_attributes_locales_inner:
      properties:
        locale:
          description: "Locale code (e.g. en, fr, de)"
          type: string
        name:
          description: Locale name
          type: string
        description:
          description: Locale description
          type: string
      required:
      - description
      - locale
      - name
      type: object
    SetLocalesForPlace_data_attributes:
      properties:
        locales:
          items:
            $ref: '#/components/schemas/SetLocalesForPlace_data_attributes_locales_inner'
          type: array
      required:
      - locales
      type: object
    SetLocalesForPlace_data:
      properties:
        id:
          description: place_id
          format: uuid
          type: string
        type:
          enum:
          - place_locale
          type: string
        attributes:
          $ref: '#/components/schemas/SetLocalesForPlace_data_attributes'
      required:
      - attributes
      - id
      - type
      type: object
    Timetable_data_attributes:
      properties:
        table:
          description: timetable table
          items:
            $ref: '#/components/schemas/TimetableInterval'
          type: array
      required:
      - table
      type: object
    Timetable_data:
      properties:
        id:
          description: place id
          format: uuid
          type: string
        type:
          enum:
          - place_timetable
          type: string
        attributes:
          $ref: '#/components/schemas/Timetable_data_attributes'
      required:
      - attributes
      - id
      - type
      type: object
